<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <RUN_INTEGRATION_TESTS>true</RUN_INTEGRATION_TESTS>
      <RUN_POSTGRESQL_INTEGRATION_TESTS>true</RUN_POSTGRESQL_INTEGRATION_TESTS>
      <ConnectionStrings__PostgreSqlConnection>Host=127.0.0.1;Port=5432;Database=bing_framework_postgresql_test;Username=admin;Password=bing2019.00;</ConnectionStrings__PostgreSqlConnection>
      <ALLOW_DATABASE_RESET_FOR_TESTS>true</ALLOW_DATABASE_RESET_FOR_TESTS>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>