<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <RUN_ORACLE_INTEGRATION_TESTS>true</RUN_ORACLE_INTEGRATION_TESTS>
      <ConnectionStrings__OracleConnection>User Id=system;Password=replace-me;Data Source=127.0.0.1:1521/FREEPDB1;</ConnectionStrings__OracleConnection>
      <ALLOW_DATABASE_RESET_FOR_TESTS>false</ALLOW_DATABASE_RESET_FOR_TESTS>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>