<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Bing.AutoMapper</name>
    </assembly>
    <members>
        <member name="T:Bing.AutoMapper.AutoMapperMapper">
            <summary>
            AutoMapper映射类
            </summary>
        </member>
        <member name="F:Bing.AutoMapper.AutoMapperMapper.Sync">
            <summary>
            同步锁
            </summary>
        </member>
        <member name="F:Bing.AutoMapper.AutoMapperMapper._config">
            <summary>
            配置提供器
            </summary>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.MapTo``1(System.Object)">
            <summary>
            将源对象映射到目标对象
            </summary>
            <typeparam name="TDestination">目标类型</typeparam>
            <param name="source">源对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.MapTo``2(``0,``1)">
            <summary>
            将源对象映射到目标对象
            </summary>
            <typeparam name="TSource">源类型</typeparam>
            <typeparam name="TDestination">目标类型</typeparam>
            <param name="source">源对象</param>
            <param name="destination">目标对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.MapTo``1(System.Object,``0)">
            <summary>
            将源对象映射到目标对象
            </summary>
            <typeparam name="TDestination">目标类型</typeparam>
            <param name="source">源对象</param>
            <param name="destination">目标对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.GetType(System.Object)">
            <summary>
            获取类型
            </summary>
            <param name="obj">对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.GetType(System.Type)">
            <summary>
            获取类型
            </summary>
            <param name="type">类型</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.GetResult``1(System.Type,System.Type,System.Object,``0)">
            <summary>
            获取映射结果
            </summary>
            <typeparam name="TDestination">目标类型</typeparam>
            <param name="sourceType">源类型</param>
            <param name="destinationType">目标类型</param>
            <param name="source">源对象</param>
            <param name="destination">目标对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.Exists(System.Type,System.Type)">
            <summary>
            是否已存在映射配置
            </summary>
            <param name="sourceType">源类型</param>
            <param name="destinationType">目标类型</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.Init(System.Type,System.Type)">
            <summary>
            初始化
            </summary>
            <param name="sourceType">源类型</param>
            <param name="destinationType">目标类型</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.GetResult``1(System.Object,``0)">
            <summary>
            获取映射结果
            </summary>
            <typeparam name="TDestination">目标类型</typeparam>
            <param name="source">源对象</param>
            <param name="destination">目标对象</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.MapToList``1(System.Collections.IEnumerable)">
            <summary>
            将源集合映射到目标列表
            </summary>
            <typeparam name="TDestination">目标元素类型，范例：Sample，不用加List</typeparam>
            <param name="source">源集合</param>
        </member>
        <member name="M:Bing.AutoMapper.AutoMapperMapper.ToOutput``1(System.Linq.IQueryable,System.Linq.Expressions.Expression{System.Func{``0,System.Object}}[])">
            <summary>
            将数据源映射为指定<typeparamref name="TOutputDto"/>集合
            </summary>
            <typeparam name="TOutputDto">输出Dto类型</typeparam>
            <param name="source">源类型</param>
            <param name="membersToExpand">成员展开</param>
        </member>
        <member name="T:Bing.AutoMapper.Extensions">
            <summary>
            对象映射扩展
            </summary>
        </member>
        <member name="M:Bing.AutoMapper.Extensions.AddAutoMapper(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            注册AutoMapper对象映射操作
            </summary>
            <param name="service">服务集合</param>
        </member>
    </members>
</doc>
